# Graph visualization

This notebook demonstrates the use of the TrustGraph graph RAG API to fetch information from the knowledge graph.

In [1]:
import requests
import json

In [2]:
# URL of the TrustGraph triplestore query API
url = "http://localhost:8088/api/v1/graph-rag"

In [3]:
# The input consists of a question
input = {
    "query": "Give me 10 facts",
}

In [4]:
# Invoke the API, input is passed as JSON
resp = requests.post(url, json=input)

In [5]:
# Should be a 200 status code
resp.status_code

200

In [6]:
# Parse the response as JSON
object = resp.json()

In [7]:
# The response
print(object["response"])

Here are 10 facts from the provided knowledge statements:

1. The Columbia made seven trips into space.
2. NASA declared the Space Shuttle operational.
3. Vera A Barnes was a Secretary at NASA.
4. Marilyn Stumpf worked in Travel Coordination at NASA.
5. Joleen A B Bottalico worked in Travel Coordination at NASA.
6.  NASA employees involved numbered 1300.
7.  Lorraine K Walton was a Secretary at NASA.
8.  Willis Rickert worked for NASA.
9.  Patt Sullivan was an Administrative Assistant at NASA.
10. Jane M Green was a Secretary at NASA.